
.question_wrap .css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input{
font-weight: 500 !important;
font-family: 'Mitr';
text-align: center;
font-size: 20px;
padding-top: 5px;
justify-content: center;
width: 900px;
text-align: left;
}



.yes-no-buttons {
    justify-content: center;
    gap: 16px; 
}

.firstQuestion{
    color:black;
    background-color: white;
    font-weight: bold;
}

.questionSlider {
    width: 400px; 
}

.css-188mx6n-MuiSlider-root {
    width: 400px; 
}

.yesno_button {
    font-weight: bold;
    width: 120px;
    margin: 5px;
    height: 50px;
    border-radius: 4px;
}

.yesno_button:first-child {
    background-color: #0000FF;
    color: white;
}

.yesno_button:last-child {
    background-color: #000000; 
    color: white;
}

.checkbox-with-form-control{
    margin-left: 35px;
}


.fristWrapper {
  margin-bottom: 16px;
}

.firstQuestion {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.question_wrap {
  width: 100%;
  margin-bottom: 16px;
}

.option-testcontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.correct-answer-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
    justify-content: center;
  }

.correct-answer-section .checkbox-with-form-control {
  width: calc(50% - 8px); 
}

.checkbox-container {
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border: 1px solid #ccc;
}

.MuiRadio-root.Mui-checked {
  color: #0000FF !important;
}

.questionText {
  background-color: #fff;
}
