.page404{
    font-family: 'Ubuntu', sans-serif;
}
.page404 a{
text-decoration: none;
color:black;
background-color: transparent !important;;
}
#notfound_text{
    font-weight: 600;
    font-size:40px;
    color:var(--primary-color);
}